<footer class="section section_footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">

					<!-- About Us -->
					<h5 class="section_footer__heading">
						Про нас
					</h5>
					<p>
						Ресторан «Оксана» – це оригінальне місце в центрі Добромиля, де у затишній атмосфері можна скуштувати найсмачніші страви та приємно провести час. Стильний інтер’єр, зручні меблі, цікаві елементи декору створюють особливий настрій та дозволяють почуватися комфортно кожному гостю. Тут хочеться мріяти і повертатись знову.
					</p>

				</div>
				<div class="col-sm-4">

					<!-- Contact info -->
					<h5 class="section_footer__heading">
						Контакти
					</h5>
					<ul class="section_footer__info">
						<li>
							<i class="fas fa-map-marker-alt"></i> Л.Українки 1а, Добромиль, Львівська область
						</li>
						<li>
							<i class="fas fa-phone"></i> +380 (98) 016 64 64
						</li>
						<li>
							<i class="far fa-envelope"></i> <a href="mailto:admin@domain.com">admin@domain.com</a>
						</li>
					</ul>

				</div>
				<div class="col-sm-4">

					<!-- Opening hours -->
					<h5 class="section_footer__heading">
						Години роботи
					</h5>
					<div class="section_footer__open">
						<div class="section_footer__open__days">Понеділок - П'ятниця</div>
						<div class="section_footer__open__time">11:00 - 23:00</div>
					</div>
					<div class="section_footer__open">
						<div class="section_footer__open__days">Субота - Неділя</div>
						<div class="section_footer__open__time">11:00 - 02:00</div>
					</div>

				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col-12">

					<!-- Copyright -->
					<div class="section_footer__copyright">
						&copy; <span id="js-current-year"></span> Mykola Halushko. All rights reserved.
					</div>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</footer>