<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/assets/ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/assets/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/assets/ico/favicon-16x16.png">
	<link rel="manifest" href="../static/assets/ico/manifest.json">
	<link rel="mask-icon" href="../static/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../static/assets/ico/favicon.ico">
	<meta name="msapplication-config" content="../static/assets/ico/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<title>Oksana - Restaurant </title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="../static/assets/plugins/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="../static/assets/plugins/lightbox/css/lightbox.min.css">
	<link rel="stylesheet" href="../static/assets/plugins/flickity/flickity.min.css">

	<!-- CSS Global -->
	<!-- build:css assets/css/theme.min.css -->
	<link rel="stylesheet" href="../static/assets/css/theme.css">
	<!-- endbuild -->

  </head>
  <body>

	<!-- NAVBAR
	================================================== -->
	{% include "include/navbar.html"%}

	<!-- / .navbar -->

	<!-- WELCOME
	================================================== -->
	<section class="section section_welcome" data-parallax="scroll" data-image-src="../static/assets/img/1.jpg">

		<!-- Content -->
		<div class="section_welcome__main">
			<div class="container">
				<div class="row align-items-center">
					<div class="col">
						
						<!-- Heading -->
						<h2 class="section__preheading section_welcome__preheading text-center text-muted">
							<span class="text-primary">Ресторан</span>
						</h2>
						<h1 class="section__heading section_welcome__heading text-center">
							Оксана
						</h1>
						<p class="section__subheading section_welcome__subheading text-center text-muted">
							Якщо хочеться затишно відпочити та приємно провести час, скуштувати щось смачненьке та особливе – ласкаво просимо до нашого закладу!
						</p>

						<!-- Button -->
						<div class="text-center">
							<a href="#section_reservation" class="btn btn-primary text-white">
								Зарезервуйте столик
							</a>
						</div>
		
					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

		<!-- Footer -->
		<div class="section_welcome__footer">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md">
						
						<!-- Social links -->
						<ul class="section_welcome__footer__social text-center text-lg-left">
							<li>
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
						</ul>

					</div>
					<div class="col-md">
						
						<!-- Address -->
						<div class="section_welcome__footer__address text-center text-lg-right">
							<i class="fas fa-map-marker-alt"></i> Л.Українки 1А, Добромиль
						</div>

					</div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</div>

	</section>


	<!-- MENU
	================================================== -->
	<section class="section section_menu section_border_bottom">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Наше меню
					</h2>
					<p class="section__subheading text-center">
						Кухня українська та європейська. Ми впевнені, що ти знайдеш для себе багато цікавого, відкриєш нові смаки та поринеш в океан несамовитої насолоди.

					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col">
					
					<!-- Navigation -->
					<nav class="section_menu__nav">
						<ul>
							<li class="active">
								<a href="#menu_images" data-filter=".mains">Основні страви</a>
							</li>
							<li>
								<a href="#menu_images" data-filter=".salad">Салати та закуски</a>
							</li>
							<li>
								<a href="#menu_images" data-filter=".pizza">Піца</a>
							</li>
							<li>
								<a href="#menu_images" data-filter=".rolls">Роли</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
			<div class="row section_menu__grid" id="menu_images">
				
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/26.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Качина грудка на яблуках під журавлиним соусом</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴110
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/31.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Легендарний Цезар з куркою</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/27.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Капрічоза</h4>
								<p>
									Сир, оливки, шинка, печериці
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴130
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/28.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Філадельфія</h4>
								<p>
									Лосось, вершковий сир, огірок, авокадо, норі, рис
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴150
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/29.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Філадельфія з тунцем</h4>
								<p>
									Тунець, вершковий сир, авокадо, норі, рис, тобіко чорне
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴120
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/28.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Гостра</h4>
								<p>
									Сир, шинка, салямі, перець болгарський, перець чілі, рукола
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴145
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/30.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Камамбер</h4>
								<p>
									Сир Камамбер, сир Моцарелла, шпинат, гранат, мед
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴150
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/27.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Стейк свинний під соусом деміглас</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/28.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Сковорідка м'ясна на компанію</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴220
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/29.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Цезаре</h4>
								<p>
									Сир, шинка, бекон, пармезан, помідор чері, яйце, салат айзберг
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴145
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/29.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Мисливська</h4>
								<p>
									Сир, мисливські ковбаски, цибуля, оливки, печериці
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴145
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/30.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Темпура з крабом</h4>
								<p>
									Огірок, краб, вершковий сир, рис, норі, паніровка
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴110
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/29.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Ковбаска по-бердичівськи власного виробництва з овочами гриль і соусом барбек'ю</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴220
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item pizza">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/28.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Чотири сири</h4>
								<p>
									Сир Горгонзола, сир Моцарелла, сир Брі, сир Беко, груша, горіхи
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴160
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/30.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Салат з персиком і прошутто</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴120
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/31.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Фудзіяма</h4>
								<p>
									Креветки, тобіко червоне, норі, рис, вершковий сир, огірок, кунжут мішаний
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/26.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Філадельфія з вугрем</h4>
								<p>
									Вугор, вершковий сир, авокадо, оігрок, норі, рис, унагі соус
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴160
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/31.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Салат з сиром Брі, свіжими овочами та морепродуктими</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/27.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Брускетта з смородиновими конфітюрами, горішками кеш'ю і горгонзолою</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴75
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/30.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Паста 4 сири</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item mains">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/31.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Тилапія під білим соусом з оливковим топенадом</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴65
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/26.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Печінковий мус у вигляді ескімо</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴100
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item salad">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/26.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Лембургер (картопляний бургер)</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴55
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>
				<div class="col-md-6 section_menu__grid__item rolls">
					<div class="section_menu__item">
						<div class="row">
							<div class="col-3 align-self-center">
								<div class="section_menu__item__img">
									<img src="../static/assets/img/27.jpg" alt="...">
								</div>
							</div>
							<div class="col-7">
								<h4>Сет - мікс</h4>
								<p>
									Філадельфія, секе-маки, секе-авокадо-маки, сирний
								</p>
							</div>
							<div class="col-2">
								<div class="section_menu__item__price text-center">
									₴370
								</div>
							</div>
						</div> <!-- / .row -->
					</div>
				</div>

			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- DISHES
	================================================== -->
	<section class="section section_dishes">

		<!-- Header -->
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Рекомендовані страви
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Quibusdam in labore tempore quidem voluptatum ullam soluta! Maiores!
					</p>

				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div class="section_dishes__carousel dots-disabled">
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/26.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$25</span>
					</h5>
				</div>

			</div>
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/27.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$35</span>
					</h5>
				</div>

			</div>
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/28.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$18</span>
					</h5>
				</div>

			</div>
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/29.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$32</span>
					</h5>
				</div>

			</div>
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/30.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$40</span>
					</h5>
				</div>

			</div>
			<div class="section_dishes__carousel__item">

				<!-- Image -->
				<img src="../static/assets/img/31.jpg" alt="..." class="section_dishes__carousel__item__img">

				<!-- Body -->
				<div class="section_dishes__carousel__item__body">
					<h5 class="section_dishes__carousel__item__body__heading mb-0">
						Lorem ipsum dolor sit amet <span>$27</span>
					</h5>
				</div>

			</div>
		</div> <!-- / .section_dishes__carousel -->

	</section>

	<!-- RESERVATION
	================================================== -->
	<section class="section section_reservation section_gray" id="section_reservation">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
					Форма резервації
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row justify-content-lg-center  section_reservation__row">
				<div class="col-lg-8">
					
					<!-- Form -->
					<form class="section_reservation__form" id="reservation__form">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<label class="sr-only" for="reservation__form__name">Full name</label>
									<input type="text" class="form-control" name="Name" placeholder="Ім'я">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__phone">Phone number</label>
									<input type="tel" class="form-control" name="PhoneNumber" placeholder="Номер мобільного">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__email">E-mail address</label>
									<input type="email" class="form-control" name="Mail" placeholder="E-mail адрес">
									<div class="invalid-feedback"></div>
								</div>

							</div>
							<div class="col-md-6">

								<div class="form-group">
									<label class="sr-only" for="reservation__form__people">People</label>
									<select class="form-control" name="Choice">
										<option value="1">1 person</option>
										<option value="2" selected="">2 persons</option>
										<option value="3">3 persons</option>
										<option value="4">4 persons</option>
										<option value="5">5 persons</option>
									</select>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__date">Date</label>
									<input type="date" class="form-control" name="Date" value="2020-03-15">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation__form__time">Time</label>
									<input type="time" class="form-control" name="Time" value="18:00">
									<div class="invalid-feedback"></div>
								</div>

							</div>
							<div class="col">

								<div class="text-center">
									<button type="submit" class="btn btn-primary">
										Зарезервувати столик
									</button>
								</div>

							</div>
						</div> <!-- / .row -->
					</form>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- TESTIMONIALS
	================================================== -->
	<section class="section section_testimonials section_border_bottom">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Що клієнти говорять про нас
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col">
					<div class="section_testimonials__carousel">
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">
									
									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="../static/assets/img/20.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">
									
									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											Гарний заклад в центрі Добромиля, приємна і уважна обслуга. Замовляли суші, дуже задоволені, адже вони досить великі розміром і смачні,  мають цікаве і оригінальне оформлення,ще раз дякуємо
										</p>
										<footer class="text-muted">
											Maria Zozylkina
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">
									
									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="../static/assets/img/21.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">
									
									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											Були в "Оксані" не одноразово. По 5-ти бальний шкалі сміло можна дати 5+!!! Дякуємо п.Лесі та шеф.повару Марії .Рекомендую!!!
										</p>
										<footer class="text-muted">
											Світлана Гвоздьова
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">
									
									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="../static/assets/img/22.jpg" class="img-fluid" alt="...">
									</div>

								</div>
								<div class="col-md-7 order-md-2">
									
									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
										</p>
										<footer class="text-muted">
											Monica Roe
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>
					</div> <!-- / .carousel -->
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- EVENTS
	================================================== -->
	<section class="section section_events section_no-padding_bottom">

		<!-- Intro -->
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Upcoming events
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Commodi rem veritatis quis eaque mollitia.
					</p>
	
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->

		<!-- Events -->
		<div class="section_events__items">
		
			<!-- Event #1 -->
			<div class="section_events__item active">

				<!-- Bg image -->
				<div class="section_events__item__bg" style="background-image: url(../static/assets/img/8.jpg)"></div>

				<!-- Content -->
				<div class="container">

					<!-- Content: Large -->
					<div class="section_events__item__content_lg">
						<div class="row">
							<div class="col-md-8 col-lg-5">
								
								<!-- Date -->
								<h3 class="section__preheading text-primary">
									<time datetime="2017-09-30">September 30, 2017</time>
								</h3>

								<!-- Heading -->
								<h2 class="section__heading text-white">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h2>

								<!-- Description -->
								<p class="section__subheading">
									Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
								</p>

								<!-- Button -->
								<a href="#section_reservation" class="btn btn-primary text-white">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_lg -->

					<!-- Content: Small -->
					<div class="section_events__item__content_sm">
						<div class="row">
							<div class="col-3 col-md-2 col-lg-1">
								
								<!-- Date -->
								<time datetime="2017-09-30">
									30 <small>Sep</small>
								</time>

							</div>
							<div class="col-9 col-md-7 col-lg-8">
								
								<!-- Heading -->
								<h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h4>

							</div>
							<div class="col-9 ml-auto col-md-3 text-md-right">
								
								<!-- Button -->
								<a href="#section_reservation" class="btn btn-primary">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_sm -->

				</div> <!-- / .container -->

			</div> <!-- / .section_events__item -->

			<!-- Event #2 -->
			<div class="section_events__item">

				<!-- Bg image -->
				<div class="section_events__item__bg" style="background-image: url(../static/assets/img/9.jpg)"></div>

				<!-- Content -->
				<div class="container">

					<!-- Content: Large -->
					<div class="section_events__item__content_lg">
						<div class="row">
							<div class="col-md-8 col-lg-5">
								
								<!-- Date -->
								<h3 class="section__preheading text-primary">
									<time datetime="2017-09-29">September 29, 2017</time>
								</h3>

								<!-- Heading -->
								<h2 class="section__heading text-white">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h2>

								<!-- Description -->
								<p class="section__subheading">
									Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
								</p>

								<!-- Button -->
								<a href="#section_reservation" class="btn btn-primary text-white">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_lg -->

					<!-- Content: Small -->
					<div class="section_events__item__content_sm">
						<div class="row">
							<div class="col-3 col-md-2 col-lg-1">
								
								<!-- Date -->
								<time datetime="2017-09-29">
									29 <small>Sep</small>
								</time>

							</div>
							<div class="col-9 col-md-7 col-lg-8">
								
								<!-- Heading -->
								<h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h4>

							</div>
							<div class="col-9 ml-auto col-md-3 text-md-right">
								
								<!-- Button -->
								<a href="#section_reservation" class="btn btn-primary">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_sm -->

				</div> <!-- / .container -->

			</div> <!-- / .section_events__item -->

			<!-- Event #3 -->
			<div class="section_events__item">

				<!-- Bg image -->
				<div class="section_events__item__bg" style="background-image: url(../static/assets/img/10.jpg)"></div>

				<!-- Content -->
				<div class="container">

					<!-- Content: Large -->
					<div class="section_events__item__content_lg">
						<div class="row">
							<div class="col-md-8 col-lg-5">
								
								<!-- Date -->
								<h3 class="section__preheading text-primary">
									<time datetime="2017-09-28">September 28, 2017</time>
								</h3>

								<!-- Heading -->
								<h2 class="section__heading text-white">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h2>

								<!-- Description -->
								<p class="section__subheading">
									Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
								</p>

								<!-- Button -->
								<a href="" class="btn btn-primary text-white">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_lg -->

					<!-- Content: Small -->
					<div class="section_events__item__content_sm">
						<div class="row">
							<div class="col-3 col-md-2 col-lg-1">
								
								<!-- Date -->
								<time datetime="2017-09-28">
									28 <small>Sep</small>
								</time>

							</div>
							<div class="col-9 col-md-7 col-lg-8">
								
								<!-- Heading -->
								<h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
								</h4>

							</div>
							<div class="col-9 ml-auto col-md-3 text-md-right">
								
								<!-- Button -->
								<a href="#section_reservation" class="btn btn-primary">
									Reserve a table
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_sm -->

				</div> <!-- / .container -->

			</div> <!-- / .section_events__item -->

		</div> <!-- / .section_events_items -->

	</section>



	<!-- GALLERY
	================================================== -->
	<section class="section section_gallery">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Our gallery
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row section_gallery__grid">
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/11.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/11.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/16.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/16.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/13.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/13.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/15.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/15.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/14.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/14.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/18.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/18.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/17.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/17.jpg" class="img-fluid" alt="...">
					</a>

				</div>
				<div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

					<a href="../static/assets/img/12.jpg" data-lightbox="gallery">
						<img src="../static/assets/img/12.jpg" class="img-fluid" alt="...">
					</a>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- MAP
	================================================== -->
	<section class="section section_map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.9147809159906!2d22.78482089100483!3d49.57166897440298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b9aa08114a37f%3A0x7f31824b43df14e2!2sOksana!5e0!3m2!1sen!2sua!4v1589289746417!5m2!1sen!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</section>

	<!-- FOOTER
	================================================== -->
	{% block footer %}
	{% include 'include/footer.html' %}
	{% endblock footer %}
	<!-- JAVASCRIPT
	================================================== -->

	<!-- JS Global -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

	<!-- JS Plugins -->
	<script src="../static/assets/plugins/parallax/parallax.min.js"></script>
	<script src="../static/assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
	<script src="../static/assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="../static/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="../static/assets/plugins/lightbox/js/lightbox.min.js"></script>
	<script src="../static/assets/plugins/reservation/reservation.js"></script>
	<script src="../static/assets/plugins/alerts/alerts.js"></script>

	<!-- JS Custom -->
	<!-- build:js assets/js/theme.min.js -->
	<script src="../static/assets/js/theme.js"></script>
	<!-- endbuild -->
	<script src="../static/assets/js/custom.js"></script>

  </body>
</html>