<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/ico/favicon-16x16.png">
	<link rel="manifest" href="../../static/assets/ico/manifest.json">
	<link rel="mask-icon" href="../../static/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../../static/assets/ico/favicon.ico">
	<meta name="msapplication-config" content="../../static/assets/ico/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<title>Оксана -  Ресторан</title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="../../static/assets/plugins/lightbox/css/lightbox.min.css">
	<link rel="stylesheet" href="../../static/assets/plugins/flickity/flickity.min.css">

	<!-- CSS Global -->
	<!-- build:css assets/css/theme.min.css -->
	<link rel="stylesheet" href="../../static/assets/css/theme.css">
	<!-- endbuild -->

  </head>
  <body>

	<!-- NAVBAR
	================================================== -->
	{% include "include/navbar.html"%}
	<!-- / .navbar -->

	<!-- HEADER
	================================================== -->
	<section class="section section_header" data-parallax="scroll" data-image-src="../../static/assets/img/36.jpg">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Heading -->
					<h1 class="section__heading section_header__heading text-center">

					</h1>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- DISCOVER
	================================================== -->
	<section class="section section_discover">
		<div class="container">
			<div class="row">
				<div class="col-md-2 align-self-start">
					
					<!-- Description -->
					<p class="section_discover__description">
						Привіт-привіт!
						<br>
Ти все ще не знайомий з нами? Тоді гайда це виправляти!
					</p>
	
				</div>
				<div class="col-md-4 align-self-start">
					
					<!-- Image -->
					<div class="section_discover__img">
						<img src="../../static/assets/img/2.jpg" class="img-fluid" alt="...">
					</div>

				</div>
				<div class="col-md-6 align-self-center">
					
					<!-- Content -->
					<h2><em>Хто ми?</em></h2>
					<p align="justify">
						Ресторан «Оксана» — одне із найзатишніших та найдрайвовіших місць нашого міста. Інтер'єр у стилі лофт, додає особливого шарму. Поєднання кольорів, красиві лінії, світлі лампи та зручні стильні дивани приємно здивують тебе. Тому що ми дбаємо про комфорт наших відвідувачів.
					</p>
					<p align="justify">
						В нас ти можеш не тільки культурно відпочити вдень, читаючи улюблену книгу за чашкою найсмачнішої кави, але і зарядитися мега-позитивними емоціями ввечері, в компанії своїх найкращих друзів.
					</p>
					<h5><em>Чому ти маєш обрати саме нас?</em></h5>
					<p align="justify">
						Наш заклад — це не просто бізнес чи хороший маркетинговий хід. Сама назва несе за собою велику історію. Ми готові працювати, рости та вдосконалюватись, щоб приносити ще більше щастя і дарувати ще більше посмішок.
					</p>
					<p align="justify">
						Саме тому ми займаємось проведенням таких цінних та трепетних святкувань, як весілля, дні народження, хрестини та багато інших. Дбаємо, щоб все пройшло на 100%. Адже такі моменти запам'ятовуються на все життя, і наше завдання — зробити так, щоб цей спогад приносив тільки тепло і радість.
					</p>
					<h5><em>Наші переваги</em></h5>
					<p align="justify">
						Окрім ресторану «Оксана», що вміщає в себе два поверхи, з яких перший призначений для усіх гостей, а другий - для проведення банкетів, ми маємо ще дещо цікавеньке.
					</p>
					<ol>
						<li>VIP-кімната — місце, де можна повністю усамітнитись та зберегти межі свого комфорту. Там розмови набувають ще більшого значення.</li>
						<li>Готель — приємний та зручний бонус, якщо гості на святкування приїжджають здалеку і не мають де переночувати.</li>
						<li>Продуктовий магазин — знаходиться суміжно із рестораном. Виручить вас у будь-який момент.</li>
						<li>Літня тераса і балкон — чудові місця для відпочинку та спілкування.</li>
					</ol>
					<h5><em>Як щодо меню?</em></h5>
					<p align="justify">
						Кухня українська та європейська. Тому ми впевнені, що ти знайдеш для себе багато цікавого, відкриєш нові смаки та поринеш в океан несамовитої насолоди.
					</p>
					<p align="justify">
						В асортименті надихаючі сніданки, різноманітні холодні та гарячі закуски, найсвіжіші салати, супи та основні страви. Страви з риби, гарніри, пасти, десерти, піци, роли — це все ти можеш скуштувати в нас.
					</p>
					<p align="justify">
						Окрім того, ресторан пишається власною випічкою, смак якої неможливо ні з чим порівняти, оригінальними фуршетами та найсолодшим кенді баром. Барне меню включає в себе широкий вибір, тут ти неодмінно знайдеш щось до душі.
					</p>
					<p align="justyfi">
						Радо запрошуємо тебе до себе в гості! Не зволікай, додавай в своє життя більше яскравих кольорів та незвичайних смаків! А ми в цьому з радістю допоможемо!
					</p>
					<h5 align="right">З любов'ю, ресторан <em>«Оксана»</em></h5>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- QUOTE

	<!-- INFO
	================================================== -->
	<section class="section section_info section_info_opposite">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Тим часом ...
					</h2>

					<!-- Subheading -->
					<!--
					<p class="section__subheading text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati sit odio velit culpa aspernatur consectetur natus quidem minima veritatis.
					</p>
					-->
				</div>
			</div> <!-- / .row -->
			<div class="row align-items-justify">
				<div class="col-md-6 order-md-3">
					
					<div class="section_info__img">
						<img src="../../static/assets/img/24.jpg" alt="...">
					</div>

				</div>
				<div class="col-md-1 order-md-2"></div>
				<div class="col-md-5 order-md-1">

					<div class="section_info__body">
						<p class="lead text-heading">
							Увага, доставка!
						</p>
						<p>
							Якщо вартість замовлення становить більше ніж 400 гривень — доставка в межах м. Добромиль безкоштовна.
						</p>
						<br>
						<p>
							<a href="{% url 'contact-us' %}" class="btn btn-primary">
								Зв'язатися з нами
							</a>
						</p>
					</div>
					
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- MAP
	================================================== -->
	<section class="section section_map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.9147809159906!2d22.78482089100483!3d49.57166897440298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b9aa08114a37f%3A0x7f31824b43df14e2!2sOksana!5e0!3m2!1sen!2sua!4v1589289746417!5m2!1sen!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</section>
	<!-- FOOTER
	================================================== -->
	{% block footer %}
	{% include 'include/footer.html' %}
	{% endblock footer %}

	<!-- JAVASCRIPT
	================================================== -->

	<!-- JS Global -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../../static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

	<!-- JS Plugins -->
	<script src="../../static/assets/plugins/parallax/parallax.min.js"></script>
	<script src="../../static/assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/lightbox/js/lightbox.min.js"></script>
	<script src="../../static/assets/plugins/reservation/reservation.js"></script>
	<script src="../../static/assets/plugins/alerts/alerts.js"></script>

	<!-- JS Custom -->
	<!-- build:js assets/js/theme.min.js -->
	<script src="../../static/assets/js/theme.js"></script>
	<!-- endbuild -->
	<script src="../../static/assets/js/custom.js"></script>

  </body>
</html>