{% extends '/Users/mykolahalushko/PycharmProjects/cafe/cafe/templates/index.html' %}
<style>
table, th, td {
   border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
{%comment%}
{{ task.order_set.all.count }}
{%endcomment%}
{% block content %}
    {% for order in orders %}
    <table style="width:100%">
        <tr>
            <th>Ім'я</th>
            <th>Номер телефону</th>
            <th>К-сть осіб</th>
            <th>Дата</th>>
            <th>Час</th>
            <th>Mail</th>
        </tr>
        <tr>
            <td><a href="{% url 'order_detail' order.id %}">{{ order.Name }} </a>
            <td>{{ order.PhoneNumber }}</td>
            <td>{{ order.Choice }}</td>
            <td>{{ order.Data }}</td>
            <td>{{ order.Time }}</td>
            <td>{{ order.Mail }}</td>
        </tr>
    </table>
{% endblock %}
{% endfor %}
