
<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/ico/favicon-16x16.png">
	<link rel="manifest" href="../../static/assets/ico/manifest.json">
	<link rel="mask-icon" href="../../static/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../../static/assets/ico/favicon.ico">
	<meta name="msapplication-config" content="../../static/assets/ico/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<title>Оксана - ресторан</title>

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="../../static/assets/plugins/lightbox/css/lightbox.min.css">
	<link rel="stylesheet" href="../../static/assets/plugins/flickity/flickity.min.css">

	<!-- CSS Global -->
	<!-- build:css assets/css/theme.min.css -->
	<link rel="stylesheet" href="../../static/assets/css/theme.css">
	<!-- endbuild -->

  </head>
  <body>

	<!-- NAVBAR
	================================================== -->
	{% include "include/navbar.html"%} <!-- / .navbar -->

	<!-- HEADER
	================================================== -->
	<section class="section section_header" data-parallax="scroll" data-image-src="../../static/assets/img/32.jpg">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Heading -->
					<h1 class="section__heading section_header__heading text-center">
						Резервування
					</h1>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- RESERVATION
	================================================== -->
	<section class="section section_reservation">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Heading -->
					<h2 class="section__heading text-center">
						Форма online резервування
					</h2>

					<!-- Subheading -->
					<p class="section__subheading text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
					</p>

				</div>
			</div> <!-- / .row -->
			<div class="row justify-content-lg-center  section_reservation__row">
				<div class="col-lg-8">

					<!-- Form -->
					<form action = "{% url 'reservation' %}" method = "post">

						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<label class="sr-only" for="reservation">Ім'я</label>
                                    <input type="text" class="form-control" name="Name" placeholder="Ім'я">
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation">Phone number</label>
									<input type="tel" class="form-control" name="PhoneNumber" placeholder="Номер мобільного" >
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="reservation">E-mail address</label>
									<input type="email" class="form-control" name="Mail" placeholder="E-mail  адрес">
									<div class="invalid-feedback"></div>
								</div>

							</div>
							<div class="col-md-6">

								<div class="form-group">
									<label class="sr-only" for="Choice">People</label>
									<select class="form-control" name="Choice">
										<option value="1">1 person</option>
										<option value="2" selected="">2 persons</option>
										<option value="3">3 persons</option>
										<option value="4">4 persons</option>
										<option value="5">5 persons</option>
									</select>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="Date">Date</label>
									<input type="date" class="form-control" name="Date">
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="Time">Time</label>
									<input type="time" class="form-control" name="Time" value="18:00">
									<div class="invalid-feedback"></div>
								</div>

							</div>
							<div class="col">

								<div class="text-center">
									<button type="submit" class="btn btn-primary">
										Зарезервувати столик
									</button>
								</div>

							</div>
						</div> <!-- / .row -->
					</form>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- PHONE
	================================================== -->
	<section class="section section_phone section_no-padding_top">
		<div class="container">
			<div class="row justify-content-lg-center section_phone__row">
				<div class="col-lg-8">

					<p class="font-small text-center">
						або подзвоніть нам:
					</p>
					<p class="section_phone__number text-center">
						<a href="tel:+380980166464">+380 (98) 016 64 64</a>
					</p>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

	<!-- MAP
	================================================== -->
	<section class="section section_map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.9147809159906!2d22.78482089100483!3d49.57166897440298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b9aa08114a37f%3A0x7f31824b43df14e2!2sOksana!5e0!3m2!1sen!2sua!4v1589289746417!5m2!1sen!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</section>

	<!-- FOOTER
	================================================== -->
	{% block footer %}
	{% include 'include/footer.html' %}
	{% endblock footer %}

	<!-- JAVASCRIPT
	================================================== -->

	<!-- JS Global -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../../static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

	<!-- JS Plugins -->
	<script src="../../static/assets/plugins/parallax/parallax.min.js"></script>
	<script src="../../static/assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="../../static/assets/plugins/lightbox/js/lightbox.min.js"></script>
	<script src="../../static/assets/plugins/reservation/reservation.js"></script>
	<script src="../../static/assets/plugins/alerts/alerts.js"></script>

	<!-- JS Custom -->
	<!-- build:js assets/js/theme.min.js -->
	<script src="../../static/assets/js/theme.js"></script>
	<!-- endbuild -->
	<script src="../../static/assets/js/custom.js"></script>

  </body>
</html>